.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.link {
  display: flex;
  flex: "1";
  justify-content: center;
  align-items: center;
  margin: 0;
}
